# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\VEXU\Code\4WorldsAaron\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
